

* {
	padding: 0;
	margin: 0;
	
  }
  body{margin: 20px;}
  
  .uno{
	border: 4px solid black;


}
.mensaje{
	border: 3px solid rgb(209, 196, 18);
	height: 100%;
	outline: 3px solid rgb(45, 112, 212) ;
	padding: 10px ;

}

.dos{
	
	background-color: orange;


}

.comentario{ 
	color: #f3f3f3;
	border-bottom: 1px  solid#141414;
	
	

}