body{
    background-color: beige;
    padding: 4px;
}

    .obtener {
        cursor: pointer;
        height: 25px;
        background-color: cornsilk;
        border: none;
        border-radius: 12px;
    }
    
    .limpiar {
        cursor: pointer;
        height: 25px;
        background-color:cornsilk;
        border: none;
        border-radius: 12px;
    }
